# SQLite база данных
*.db
data/crash_database.db

# Python служебные файлы
*.pyc
__pycache__/

# Jupyter
notebooks/.ipynb_checkpoints/
.ipynb_checkpoints/
.virtual_documents/

# Большие файлы моделей
outputs/models/count_models/negative_binomial_best.pkl
outputs/models/random_forest/random_forest_best.pkl