# Основные библиотеки анализа данных
numpy
pandas
requests

# Визуализация
matplotlib
seaborn
plotly

# Работа с геоданными
geopandas

# Библиотеки ML и статистического моделирования
sklearn
statsmodels

# Jupyter и интерактивная среда
jupyter
ipython